.carousel{
  height: 500px;
  &-item{
    height: 500px;
  }
  &-inner{
    border-radius: 15px;
  }
}

@media screen and (max-width: 991px) {
  .carousel{
    height: 300px;
    &-item{
      height: 300px;
    }
  }
}