.navbar{
  position: fixed;
  z-index: 9;
  width: 1296px;
}

.bg-blur{
  backdrop-filter: blur(9px);
  background-color: rgba($color: $black, $alpha: 0.15);
}

@media screen and (max-width: 1400px){
  .navbar{
    width: 1116px;
  }
}

@media screen and (max-width: 1200px){
  .navbar{
    width: 936px;
  }
}

@media screen and (max-width: 991px){
  .navbar{
    width: 696px;
  }
}

@media screen and (max-width: 767px){
  .navbar{
    width: 516px;
  }
}

@media screen and (max-width: 570px){
  .navbar{
    width: 95.3%;
  }
}